<p><%= msg %></p>

<p>
    <% for (var i = 0; i < recs.length; i++) { %>
        <div class="rec" style="border:solid 1px #a2a9b1;margin-bottom:5px;padding:5px;display:flex;align-items:flex-start;">
            <div class="rec-thumb" style="margin-right:8px;">
                <img src="<%= recs[i].thumbnail.source %>" style="width:48px;height:48px;"></img>
            </div>
            <div class="rec-text">
                <div class="rec-tile" style="color:#202122;font-weight:700;line-height:1.4285714;"><%= recs[i].title %></div>
                <div class="rec-description" style="font-style:italic;margin-top:8px;"><%= recs[i].description %></div>
                <div class="rec-extract" style="margin-top:8px;"><%= recs[i].extract %></div>
                <a class="rec-link" style="margin-top:8px;" href="<%= recs[i].url %>"><%= recs[i].url %></a>
            </div>
        </div>
    <% } %>
</p>

<p>
    Click
    <a href="<%= unsubscriptionLink %>">here</a>
    to cancel and delete your Wiki subscription account
</p>