<%= msg %>

<% for (var i = 0; i < recs.length; i++) { %>
    <%= recs[i].title %>
    <%= recs[i].description %>
    <<%= recs[i].url %>>
<% } %>

Copy and paste the unsubscription link below into your browser to cancel and delete your Wiki subscription account.

Unsubscription link: <<%= unsubscriptionLink %>>