
<p>Thanks for subscribing! We will bring <b>interesting knowledge content</b> directly to you.</p>

<p>
Click
<a href="<%= confirmationLink %>">here</a>
to confirm your email address and activate your account
</p>

<p>
Click
<a href="<%= unsubscriptionLink %>">here</a>
to cancel and delete your Wiki subscription account
</p>

<br>
<hr>
<p>
	<a href="<%= privacyLink %>">Privacy policy</a>
</p>
