<%- contentFor('body') %>

<form action="/register" method="post">
  <div class="cdx-text-input">
    <input
      class="cdx-text-input__input"
    	type="email"
    	placeholder="Email address"
    	name="email" />
  </div>
  <br>
  <select name="lang" class="cdx-select">
    <option value="en">English</option>
    <option value="es">Spanish</option>
  </select>
  <br><br>
  <input
    class="cdx-button"
  	type="submit"
  	value="Register" />
</form>

<%- include('terms') %>
