<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki subscription</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@wikimedia/codex@1.1.1/dist/codex.style.css">
    <style>
      body {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Wiki subscription</h1>
    <%- body %>
  </body>
</html>
