<h2>Privacy Statement of Wiki Subscription service</h2>

<p>The Wiki subscription service collects end users email addresses and/or Telegram IDs. These information are stored in a private database and used for the sole purpose of sending Wikipedia reading recommendations.</p>

<p>The Wiki subscription service collects end users opinions (up and down votes) about article recommendations in an independent private storage with user IDs uncorrelated with stored email addresses or Telegram IDs. The service uses those votes to try to recommend more suitable articles.</p>

<p>End users are free to cancel their use of the service and delete their personal details at any time using the unsubscribe links available in the emails sent by the service or via the Telegram bot interface, or by emailing the maintaining team at Inuka-team@wikimedia.org.</p>

<p>Personal Information collected may also be available to the Wikimedia Foundation, volunteer administrators, or other WMCS developers.</p>

<p>The administrators of the Wiki subscription service are bound by the <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use">Wikimedia Cloud Services Terms of Use for Administrators and Developers</a></p>

<p>WMCS is hosted and operated in the United States and that by using the Wiki subscription service, whether from inside or outside of the United States, (a) collection, transfer, storage, disclosure, and other processing of users information (personal or otherwise) will take place in the United States, (b) users information also may be transferred to other countries, and (c) that the United States and such other countries may have different or less stringent data protection laws than the users' country.</p>

<p>WMCS is hosted and operated in the United States. By using the Wiki subscription service, you acknowledge and understand that collection, use, storage, and other processing of your information (personal or otherwise) as outlined in this Privacy Statement will take place in the United States. You understand that your information also may be transferred to other countries, and that the United States and such other countries may have different or less stringent data protection laws than your country. Furthermore, you acknowledge that your Personal Information will be governed by this Privacy Statement, rather than the Wikimedia Foundation's Privacy Policy.</p>
